//Naturaleza
$verde-pasto:#5E7C16;
$marron-tierra: #835C3B;
$marron-madera: #5A3A1A;
$verde-hoja: #3A7425;
$verde-oscuro: #2E4E1A;
$arena-clara: #F0E68C;
$verde-lodoso: #4B5632;
$blanco-azulado: #F4F8FB;
$azul-profundo:#3D5B94;
$turquesa-brillante:#38D2C5;