
//Naturaleza
$verde-pasto:#5E7C16;
$marron-tierra: #835C3B;
$marron-madera: #5A3A1A;
$verde-hoja: #3A7425;
$verde-oscuro: #2E4E1A;
$arena-clara: #F0E68C;
$verde-lodoso: #4B5632;
$blanco-azulado: #F4F8FB;
$azul-profundo:#3D5B94;
$turquesa-brillante:#38D2C5;

//Minerales y bloques

$gris-carbon:#1D1D1D;
$naranja-oxido: #D8AF93;
$amarillo-oro: #FCEE4B;
$azul-diamante: #41C6EC;
$rojo-intenso: #B80000;
$verde-brillante: #1EC26B;
$verde-menta:#7DC383;
$purpura-cristal: #A472D9;
$rojo-explosivo: #E03E3E;

//Nether y end
$rojo-oscuro: #812E24;
$naranja-lava: #FF6A00;
$beige-palido: #E3E39C;
$purpura-oscuro: #1A0A24;

//criaturas
$verde-neon: #5FC22E;
$negro-purpura: #1C1C1C + #9441E3;
$verde-gel: #B3F26E;
$amarillo-fuego: #F8C03A;
$gris-fantasma:#3A3A3A;